body {
	background-color: #0b150d;
}

#logo_img {
    width: 12%;
}

.container {
    position: relative;
}


#main_img {
    width: 100%;
}

.text-block {
    position: absolute;
    top: 2%;
    left: 3%;
    right: 3%;
}

.top {
    display: inline;
    margin-left: 3%;
    bottom: 10%;
}

.nav-item {
    vertical-align: top;
    color: white;
    position: relative;
    font-size: 150%;
    text-decoration: none;
    font-weight: bold;
}

#image_text {
    position: relative;
    margin: auto;
    padding: 1%;
    color: white;
    font-size: 180%;
    display: flex;
    border: 10px white solid;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-weight: bold;
    opacity: 0.6;
}

#footer {
    color: white;
    text-align: center;
    vertical-align: bottom;
    background-color: black;
}