{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={% static 'base.css' %}>

    {% block styles %}
    {% endblock %}

</head>
<body>
<div class="container">
    <img src={% static 'images/mountains.jpg' %} alt="Norway" id="main_img">

    <div class="text-block">

        <div class="top"><a href={% url 'index' %}><img src="/static/images/logo.png" id="logo_img"></a></div>
 	    <div class="top"><a class="nav-item" href={% url 'index' %}>ABOUT</a></div>
 	    <div class="top"><a class="nav-item" href={% url 'blogs' %}>BLOGS</a></div>
 	    <div class="top"><a class="nav-item" href="">TRIPS</a></div>
 	    <div class="top"><a class="nav-item" href="">ALBUM</a></div>
        <div id="image_text"><p>Travel Blog</p></div>
    </div>
</div>

{% block content %}
{% endblock %}


<div id="footer">
    <p>©YourTravel 2019</p>
</div>



</body>
</html>