{% extends 'base.html' %}
{% load static %}

{% block title %}Trips{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static 'trips.css' %}>
{% endblock %}

{% block content %}
 <div>
 	<div class="regions">
 		Львівська область:
 	</div>
 	<ul class="regionlist">
 		<li>Кути(Буський район);</li>
 		<li>Олесько(Буський район);</li>
 		<li>Підгірці(Бродівський район);</li>
 		<li>Ушня(Золочівський район);</li>
 		<li>Сасів(Золочівський район);</li>
 		<li>Єлиховичі(Золочівський район);</li>
 		<li>Плугів(Золочівський район);</li>
 		<li>Городок Ягеллонський(Городоцький район);</li>
 		<li>Грімне(Городоцький район);</li>
 		<li>Крехів(Жовківський район);</li>
 	</ul>
 </div>
 
 <div>
 	<div class="regions">
 		Тернопільська область:
 	</div>
 	<ul class="regionlist">
 		<li>Бучач(Бучацький район);</li>
 		<li>Криниця(Монастирський район);</li>
 		<li>Бережани(Бережанський район);</li>
 		<li>Сидорів(Гусятинський район);</li>
 		<li>Заліщики(Заліщицький район);</li>
 		<li>Червоногруд(Заліщицький район);</li>
 		<li>Шманьківчики(Чортківський район);</li>
 		
 	</ul>
 </div>

 <div>
 	<div class="regions">
 		Хмельницька область:
 	</div>
 	<ul class="regionlist">
 		<li>Зіньків(Віньковецький район);</li>
 		<li>Сутківці(Ярмолинецький район);</li>
 		<li>Каньйон Дністра(Кам'янець-Подільський район);</li>
 		<li>Водички(Хмельницький район);</li>
 		<li>Підлісний Мукарів(Дунаєвський район);</li>
 		<li>Карвасари(Кам'янець-Подільский район);</li>
 		<li>Кам'янець: укріплення Старого міста(Кам'янець-Подільський район);</li>
 		
 	</ul>
 </div>
 <div>
 	<div class="regions">
 		Житомирська область:
 	</div>
 	<ul class="regionlist">
 		<li>Замок Радомисль(Радомишльський район);</li>
 		<li>Верхівня(Ружинський район);</li>
 		<li>Городське(Коростишівський район);</li>
 		<li>Стара Котельня(Андрушівський район);</li>
 		<li>Червоне(Андрушівський район);</li>
 		<li>Городківка(Андрушівський район);</li>
 		<li>Райгородок(Бердичівський район);</li>
 		
 	</ul>

 </div>
 <div>
 	<div class="regions">
 		Вінницька область:
 	</div>
 	<ul class="regionlist">
 		<li>Шаргород(Шаргородський район);</li>
 		<li>Мурафа(Шаргородський район);</li>
 		<li>Спичинці(Погребищінський район);</li>
 		<li>Мала Ростівка(Оратівський район);</li>
 		<li>Митки(Барський район);</li>
 		<li>Маньківці(Барський район);</li>
 		<li>Чернятин(Жмерінський район);</li>
 		<li>Межирів(Жмерінський район);</li>

 	</ul>
 </div>
 <div>
 	<div class="regions">
 		Одеська область:
 	</div>
 	<ul class="regionlist">
 		<li>Приморський бульвар(Одеса);</li>
 		<li>Готель "Пасаж"(Одеса);</li>
 		<li>Палац Абази(Одеса);</li>
 		<li>Готел "Бристоль"(Одеса);</li>
 		<li>Палац Бжозовського(Шахський палац)(Одеса);</li>
 		<li>Аккерманська фортеця(Білгород-Дністровський);</li>
 		
 	</ul>
 </div>

{% endblock %}
